@font-face {
    font-family: 'HarryPoterFont';
    src: url('../font/HarryPoter-na_lover.ttf') format('truetype');
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(../image/login_Backgroud_Img.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: relative;
}

/* 회원가입 영역  */
.container{
    margin: 0;
    padding: 0;
    width: 600px;
    height: 800px;
    background-image: url(../image/main_Contents_Background_IMG.jpg);
    background-color: rgba(140, 81, 46, 0.428);
    background-blend-mode: multiply;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 50px 50px rgba(0,0,0,0.70), 0 15px 12px rgba(0,0,0,0.5);
    border: 2px solid black;
    /* 화면의 정중앙에 위치 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}
.joinDiv{
    width: 600px;
    height: 750px;
}
.joininnerDiv{
    position: relative;
}
.joinPageLogo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.joinPageLogo img{
    width: 250px;
    height: 300px;
    filter: brightness(0.8);
}
.joinPage{
    width: 430px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -28%);
    background-color: rgb(245, 222, 179, 0.3);
    border-radius: 3%;
}
.joinPage input, .area, #area{
    width: 400px;
    height: 30px;
    margin: 10px 10px 10px 10px;
    background-color: transparent;
    font-family: 'HarryPoterFont';
    font-size: 20px;
}
.joinPage input, #area{
    background-color: rgba(255, 231, 187, 0.55);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5%;
}
.chlid input, .gender input{
    width: 20px;
    height: 20px;
    font-family: 'HarryPoterFont';
}
label{
    font-family: 'HarryPoterFont';
}
.area{
    margin-left: 0;
    height: 70px;
}
.link{
    position: absolute;
    width: 300px;
    left: 50%;
    top: 88%;
    transform: translate(-20%, 0);
}
.link button{
    text-decoration: none;
    color: black;
    text-shadow: 0 3px 5px rgb(55, 5, 5);
    text-shadow: -1px 0 rgb(101, 25, 25), 0 1px black, 1px 0 rgb(101, 25, 25), 0 -1px wheat;
    font-size: 25px;
    font-family: 'HarryPoterFont';
    text-align: center;
    border-style: none;
    background-color: transparent;
}
.disableLink{
  color: gray;
}
.error{
  width: 300px;
  height: 15px;
  margin-left: 10px;
  font-size: 15px;
  color: rgb(189, 0, 0);
}

/* 페이지 로딩 시 fade */
body {
    animation: fadein 4s;
}
@keyframes fadein {
    from {
        opacity:0.1;
        background-color: black;
    }
    to {
        opacity:1;
        background-color: transparent;
    }
} 
