body{
    overflow-x: hidden;
}
.main{
    background-image: url(../image/반짝반짝.gif);
    display: flex;
    flex-direction: column;
}

a-li{
    font-size: 16px;
}
a-ul>ul{
    padding: 0;
}

#hello{
padding: 0;
width: 100%;
height: 100px;
/* background-color: black; */
font-size: 80px;
color:whitesmoke;
font-family: 'HarryPoterFont';
margin-top: 30px;
margin-left: 50px;
text-shadow: 3px 3px 3px rgb(144, 143, 143);
}

#bigbox{
width: 100vw;
height: 800px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

#art1{ 
width: 60%;
height:800px;
position: relative;

}

#art1  h1{
position: absolute;
margin-top: 100px;
margin-left: 100px;
font-family: 'HarryPoterFont';
color:whitesmoke;
position: relative;

}

#art1 h2{
font-family: 'HarryPoterFont';
color: whitesmoke;
position: absolute;
margin-top: 50px;
margin-left: 50px;
}

#art2{
width: 40%;
height: 800px;
display: flex;
align-items: center;
}

#dumbul img {
margin-left: 10px;
width: 450px; /* 조절 가능한 값 */
height: 550px; /* 조절 가능한 값 */
border-radius: 50%;
}

h1 span {/*교장 인사말 글자 움직이는 기능 */
font-family: serif;
font-size: 80px;
color: whitesmoke;
position: relative;
top: 20px;
display: inline-block;
-webkit-font-smoothing: antialiased;
text-shadow: 0 1px 0 #ccc, 
         0 2px 0 #ccc, 
         0 3px 0 #ccc,  
         0 4px 0 #ccc, 
         0 5px 0 #ccc, 
         0 6px 0 transparent,
         0 7px 0 transparent,
         0 8px 0 transparent,
         0 9px 0 transparent,
         0 10px 10px rgba(0,0,0,0.4);
animation: bounce 0.5s ease infinite alternate;
}


@keyframes bounce {
100% {
top: -20px;
text-shadow: 0 1px 0 #ccc,
             0 1px 0 #ccc,
             0 3px 0 #ccc,
             0 4px 0 #ccc,
             0 5px 0 #ccc,
             0 6px 0 transparent,
             0 7px 0 transparent,
             0 8px 0 transparent,
             0 9px 0 transparent,
             0 50px 20px rgba(0,0,0,0.4);
}
}